
/*GRADIENT BACKGROUND*/
html {
    -webkit-box-sizing: border-box; /* Safari/Chrome, other WebKit */
    -moz-box-sizing: border-box;    /* Firefox */
    box-sizing: border-box;
}
body {
	background: linear-gradient(90deg, #c2eaec, #f4ebda);
	background-size: 600% 600%;
	-webkit-animation: Gradient 20s ease infinite;
	-moz-animation: Gradient 20s ease infinite;
	animation: Gradient 20s ease infinite;
}
@-webkit-keyframes Gradient {
	0%{background-position:0% 50%}
	50%{background-position:100% 50%}
	100%{background-position:0% 50%}
}
@-moz-keyframes Gradient {
	0%{background-position:0% 50%}
	50%{background-position:100% 50%}
	100%{background-position:0% 50%}
}
@keyframes Gradient {
	0%{background-position:0% 50%}
	50%{background-position:100% 50%}
	100%{background-position:0% 50%}
}
a:-webkit-any-link {
  text-decoration: none;
  color: black;
}

/*DROPDOWN*/
.dropdown {
    position: absolute;
    display: inline-block;
    float: right;
    display: none;
    margin-top: 2em;
    margin-right: 2em;
}

.dropdown-content {
    margin-right: 2em;
    display: none;
    background-color: #f9f9f9;
    min-width: 160px;
    padding: 12px 16px;
    z-index: 1;
}

.dropdown:hover .dropdown-content {
    display: block;
}

/*HEADER*/

.menu-items {
  font-family: 'Montserrat', sans-serif;
  font-size: 1.6em;
  margin-right: 1em;
  margin-left: .5em;
  font-weight: bold;
}

.current-page {
  color: white !important;
}

header > div > div > a:hover {
  color: white !important;
  font-weight: bold;
}

.box-section > a:hover, .subpage-link > h3:hover {
  font-family: 'Montserrat', sans-serif;
  color: black !important;
}

.logo {
  text-align: left;
  width: 100%;
  height: auto;
}

header {
  margin: 4em 4% 2em 5% !important;
}

.header-right {
  text-align: right;
  padding-top: 1em;
  font-size: 120%;
}

/*BODY*/

.section-main-titles {
  color: #B4B4B4 !important;
  background: white;
  font-weight: bolder;
  font-family: 'Montserrat', sans-serif;
  margin-right: 3em;
  padding: .5em;
  width: 100%;
}

.boxed-text {
  width: 100%;
  background: white;
  margin-right: 3em;
  padding: .5em;
}

.boxed-text-content {
  font-weight: bolder !important;
  font-family: 'Raleway', sans-serif;
}

.boxed-text-header, form > div > label {
  font-weight: bolder !important;
  font-family: 'Montserrat', sans-serif !important;
}

.boxed-image {
  width: 100%;
  height: auto;
}

.box-section {
  width: 31.4%;
}

.center-box {
  margin: 0em 2.9% 0em 2.9%;
}

.business-content {
  display: block;
  margin: 0em 4% 7em 4%;
}

.tiles {
  margin-left: 3em !important;
}

.form-control {
  border: none;
  font-weight: bolder !important;
  font-family: 'Raleway', sans-serif;
  -webkit-box-shadow: none;
}

.form-control::-webkit-input-placeholder {
  color: #C6C6C6;
}

button {
  margin-left: 38%;
  margin-top: 2em;
}

.page-detail {
  margin-bottom: 10em;
  background: white;
  margin-left: -3em;
  padding-top: 2em;
  height: 44em;
}

.margin-offset {
  margin-left: 6em;
}

.current-subfolder {
  color: black !important;
}

.mini-box {
  margin-bottom: 2em;
  margin-right: 1em;
  width: 100%;
  background: white;
  height: 30em;
}

.mini-box-text {
  padding-left: .5em;
  padding-bottom: .75em;
  background: white;
}

.mini-boxed-image {
  width: 100%;
  height: 19.5em;
}

/*SCROLL*/

.scrollbar {
  overflow-y: scroll;
  height: 30em;
}
#style-3::-webkit-scrollbar-track
{
	-webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3);
	background-color: #F5F5F5;
}
#style-3::-webkit-scrollbar
{
	width: 6px;
	background-color: #F5F5F5;
}
#style-3::-webkit-scrollbar-thumb
{
	background-color: #B4B4B4;
}

@media screen and (min-width: 0px) {
  .section-main-titles {
    font-size: .6em;
  }
  .header-right {
    padding-top: 0em;
  }
  .menu-items {
    font-size: 0.4em;
  }
  header {
    margin-bottom: 0em;
    margin-top: .5em;
  }
}

@media screen and (min-width: 420px) {
  .section-main-titles {
    font-size: .8em;
  }
  .header-right {
    padding-top: 0em;
  }
  .menu-items {
    font-size: 0.6em;
  }
  header {
    margin-bottom: 0em;
    margin-top: .8em;
  }
}

@media screen and (min-width: 530px) {
  .section-main-titles {
    font-size: 1em;
  }
  .header-right {
    padding-top: 0.3em;
  }
  .menu-items {
    font-size: 0.8em;
  }
  header {
    margin-bottom: 0em;
    margin-top: 0em;
  }
}

@media screen and (min-width: 700px) {
  .section-main-titles {
    font-size: 1.4em;
  }
  .menu-items {
    font-size: 1em;
  }
}

@media screen and (min-width: 900px) {
  .section-main-titles {
    font-size: 1.6em;
  }
  .menu-items {
    font-size: 1.2em;
  }
}

@media screen and (min-width: 975px) {
  .section-main-titles {
    font-size: 1.8em;
  }
  .menu-items {
    font-size: 1.3em;
  }
}

@media screen and (min-width: 1200px) {
  .section-main-titles {
    font-size: 2em;
  }
  .menu-items {
    font-size: 1.7em;
  }
}

@media screen and (min-width: 1700px) {
  .section-main-titles {
    font-size: 2.7em;
  }
  .menu-items {
    font-size: 2em;
  }
}

@media screen and (min-width: 2300px) {
  .section-main-titles {
    font-size: 3em;
  }
  .menu-items {
    font-size: 2.4em;
  }
}
